name: Workflow Two

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      env:
        description: Select environment
        type: choice
        required: true
        options:
          - dev
          - qa
          - prod
        default: "dev"

jobs:
  tests:
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}

    env:
      BASE_URL: ${{ vars.BASE_URL }}

    steps:
      - uses: actions/checkout@v4
      - run: |
          echo "Env: ${{ inputs.env }}"
          echo "BASE_URL=$BASE_URL"

#jobs:
#  first_job:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Display text
#        run: echo "Some text"
#
#      - name: Multiline command
#        run: |
#          node -v
#          npm -v
#          echo '${{ toJSON(github) }}'
#          echo '${{ toJSON(github.ref) }}'