name: Workflow Two

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      env:
        description: Select environment
        type: choice
        required: true
        options:
          - dev
          - qa
          - prod
        default: "dev"

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Display text
        run: echo "Some text"

      - name: Multiline command
        run: |
          node -v
          npm -v
          echo '${{ toJSON(github) }}'
          echo '${{ toJSON(github.ref) }}'